img {
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 5rem;
}

ul {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    margin-top: 0.5rem;
    list-style-type: none;
}

i {
    color: #253C89;
}