<p-table [value]="data" [columns]="cols" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns>
        <tr>
            <td *ngFor="let col of cols">
                {{ rowData[col.field] }}
                <i 
                *ngIf="col.field === 'acao'" 
                class="{{ rowData[col.icon!] }}" 
                style="font-size: 2rem"
                (click)="emitEvent(rowData)"
                ></i>
            </td>
        </tr>
    </ng-template>

</p-table>
