.title {
    margin-left: 1.4rem;
}

ul.striped-list > li:nth-of-type(odd) {
    background-color: #e9e9f962;
}

.p-button {
    padding: 0.5rem 1rem !important;
}

.blue {
    background-color: #253C89;
}