.blue {
    background-color: #253C89;
    border: 1px solid #253C89;
}

h2 {
    color: #253C89;
}

h4 {
    color: #73B453;
}

.green {
    background-color: #73B453;
    border: 1px solid #73B453;
}

.p-button.p-button-icon-only {
    width: 1.25rem !important;
    padding: 0.8rem 0.8rem !important;
    height: 1.25rem !important;

}

.p-datatable-thead {
    display: none !important;
}