// ::ng-deep .p-colorpicker-panel {
//     top: 0% !important;
//     left: 20rem !important;
// }

// ::ng-deep .p-colorpicker-panel:last-child {
//     top: -10rem !important;
//     //left: 20rem !important;
// }

::ng-deep .p-dialog .p-dialog-content {
    padding: 0 1.5rem 1rem 1.5rem !important;
}



.p-button {
    padding: 0.5rem 1rem !important;
}

.blue {
    background-color: #253C89;
}
